body {
    margin: 0px;
    font-family: monospace;
    font-size: 16px;
}


a {
    text-decoration: none;
    color: #8b0000;
  }

#header {
    padding: 20px;
    margin: 0;
    width: calc(100% - 40px);
    background-color: #8b0000;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}
#header a{
    color: #fff;
}

#header h1, #header p {
    margin: 0;
}

#footer {
    padding: 10px;
    margin: 0;
    font-weight: bold;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center; /* Center-align the text */
}

#content {
    margin:0;
    margin-left:200px;
    width: calc(100% - 200px);
}

#sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}
  
#sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
    border-bottom: 1px solid #ccc;
    transition: background-color 0.3s;
}

#sidebar a.active {
    background-color: #04AA6D;
    color: white;
}

#sidebar a:hover:not(.active) {
    background-color: #8b0000;
    color: white;
}

#title{
    border-bottom: 1px solid #ccc;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  
table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

td a {
    text-decoration: none;
}

td a:hover {
    text-decoration: underline;
}
form {
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 5px;
}

input[type="radio"] {
    margin-bottom: 5px;
}
input[type="url"],
input[type="number"],
input[type="submit"],
input[type="button"] {
    display: block-inline;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}
input[type="submit"] {
    background-color: #8b0000;
    color: white;
    cursor: pointer;
}
input[type="button"] {
    background-color: #333;
    color: white;
    cursor: pointer;
}
input[type="submit"]:hover,
input[type="button"]:hover {
    background-color: darkgray;
}
.error {
    color: red;
}